*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    margin: 0;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(23, 27, 42);
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.466);

    background-color: rgb(59, 101, 144);
    padding: 20px;
    border-radius: 20px;
}
form .display{
    display: flex;
    justify-content: flex-end;
}
form .display input{
    outline: none;
    background-color: white;
    color: black;
    flex: 1;
    text-align: right;
 box-shadow: none;
 
}
.calculator input{
    color: white;
    cursor: pointer;
    font-size: 30px;
    border: none;
    background-color: transparent;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466), -8px -5px 15px rgba(255, 255, 255, 0.466);
    /* padding: 20px; */
    margin: 10px;
    width: 60px;
    height: 60px;
    border-radius: 10px;

}

.calculator input:active{
    
    box-shadow:none;

}
form input.equal{
    width: 145px;
}