* {
    margin: 0;

}

html {
    scroll-behavior: smooth;
}


.pg1 {
    padding: 5% auto;

    margin: 0;
    width: auto;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.navbar {
    width: 90%;
    margin: auto;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline;
    align-items: center;
}

.navbar ul li a {
    text-decoration: none;
    padding: 8px 15px;
    background-color: rgb(82, 194, 238);
    color: aliceblue;
    border-radius: 5px;
    border: none;
    margin: 10px;
    cursor: pointer;
}

.navbar ul li a:hover {
    background-color: rgb(44, 170, 237);
}




#logo {
    cursor: pointer;
    line-height: 1;
    /* font-family: cursive; */
    font-family: 'Courier New', Courier, monospace;
    color: skyblue;
    width: 190px;
    height: 80px;
}

.h1 {
    color: white;
    text-align: center;
    margin-top: 25vh;
    line-height: 60px;
}

h1 {
    font-family: 'arial black';
    font-size: 45px;
}

h2 {
    font-size: 25px;
    font-family: monospace;
}

h3 {
    font-size: 22px;
    font-family: "calibri light";
}

.searchgrp {
    /* display: flex; */
    text-align: center;
    /*height:200px;
    width:600px;*/
    align-items: center;
}



.button {
    margin: 5px;

    border-radius: 25px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: white;
    border: none;
    background-color: rgb(82, 194, 238);
    padding: 12px 30px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(44, 170, 237);

}

.pg2 {
    /* border-top: 10px solid rgb(41, 41, 41); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/images/flowerpediabg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 10px solid skyblue;

    height: 100vh;
    width: auto;
    background-color: rgb(0, 0, 0);
    padding: 100px 10%;



    /* float: left; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}








a img {
    width: 90%;
    height: auto;
    border-radius: 20px;
    margin: 0 5px;
    box-shadow: 0px 0px 15px rgba(135, 207, 235, 0.6);

}


a img:hover {
    width: 100%;
    transition: .5s;
    box-shadow: 0px 0px 50px skyblue;


}









.contant {
    /* padding-top: 120px; */
    width: 60vw;

    /* text-align: center; */
    /* display: inline; */
    color: white;
}

.contant h1 {

    color: skyblue;
    font-size: 45px;
    font-weight: bold;

}

.contant p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    font-size: 27px;
}


.pg3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/images/spidermanbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 10px solid skyblue;



    /* margin-top: 160px; */
    height: 100vh;
    width: auto;
    background-color: rgb(0, 0, 0);
    padding: 100px 10%;

    justify-content: space-between;
    align-items: center;
    display: flex;
}


.pg4 {
    /* background-color: rgb(0, 0, 0); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/images/netflixbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;



    border-top: 10px solid skyblue;
    /* margin-top: 160px; */
    height: 100vh;
    width: auto;
    padding: 100px 10%;

    justify-content: space-between;
    align-items: center;

    display: flex;
}


.pg5 {

    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/images/calculatorbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;
    width: auto;
    border-top: 10px solid skyblue;

    padding: 100px 10%;


    justify-content: space-between;
    align-items: center;
    display: flex;
}



.pg7 {
    border-top: 10px solid skyblue;

    background-color: black;
    color: #b5b5b5;
    height: fit-content;


    font-family: "calibri light";
    font-size: 18px;
}

.pg7 h1 {
    color: skyblue;
    text-align: center;
    font-stretch: condensed;
}

footer {
    text-align: left;

    padding: 10vh 0;
    width: 80%;
    margin: 0 auto;

}

.footer ul {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;


}

.footer ul li {
    list-style: none;
    width: 26vw;

    margin: 5px 0;
    margin-right: 4px;


}

.footer ul li a {

    /* text-decoration: none; */
    color: #b5b5b5;

}

.btn {
    float: right;
    text-decoration: none;
    padding: 15px 15px;
    background-color: skyblue;
    color: white;
    border-radius: 55px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(95, 193, 233);
}