* {
    margin: 0;
    /* transition: .5s; */
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: black;
    transition: .5s;

}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(rgb(0, 173, 242), rgba(0, 183, 255, 0.798), rgb(0, 173, 242));
    /* background-color: skyblue; */
    border-radius: 25px;

}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(skyblue, rgb(0, 173, 242));

    /* background-color: rgb(60, 185, 235); */
}

::-webkit-scrollbar-thumb:active {
    background-color: skyblue;
}

/* ::-webkit-scrollbar:hover{
    width: 10px;
   
} */

.pg1 {
    padding: 5% auto;

    margin: 0;
    width: auto;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.navbar {
    height: 100px;
    width: 90%;
    margin: auto;
    padding: 18px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline;
    align-items: center;
}

.navbar ul li a {
    text-decoration: none;
    padding: 8px 15px;
    background-color: rgb(82, 194, 238);
    color: aliceblue;
    border-radius: 5px;
    border: none;
    margin: 10px;
    cursor: pointer;
}

.navbar ul li a:hover {
    background-color: rgb(44, 170, 237);
}


#logo1{
    cursor: pointer;
    transition: .5s;
}



#logo1:hover{
    transform: scale(1.2);
}

.h1 {
    color: white;
    text-align: center;
    margin-top: 25vh;
    line-height: 60px;
}

h1 {
    font-family: 'arial black';
    font-size: 45px;
}

h2 {
    font-size: 25px;
    font-family: monospace;
}

h3 {
    font-size: 22px;
    font-family: "calibri light";
}

.searchgrp {
    /* display: flex; */
    text-align: center;
    /*height:200px;
    width:600px;*/
    align-items: center;
}



.button {
    margin: 5px;

    border-radius: 25px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: white;
    background-color: transparent;
    transition: .5s;
    border: 1px solid skyblue;
    padding: 12px 30px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(44, 170, 237);
    border: none;

}

.pg2 {
    /* border-top: 10px solid rgb(41, 41, 41); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/flowerpediabg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 10px solid skyblue;

    height: 100%;
    width: auto;
    background-color: rgb(0, 0, 0);
    padding: 15% 10%;



    /* float: left; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}








a img {
    width: 90%;
    height: auto;
    border-radius: 20px;
    margin: 0 5px;
    box-shadow: 0px 0px 15px rgba(135, 207, 235, 0.6);

}


a img:hover {
    width: 100%;
    transition: .5s;
    box-shadow: 0px 0px 50px skyblue;


}









.contant {
    /* padding-top: 120px; */
    width: 60vw;

    /* text-align: center; */
    /* display: inline; */
    color: white;
}

.contant h1 {

    color: skyblue;
    font-size: 45px;
    font-weight: bold;

}

.contant p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    font-size: 27px;
}


.pg3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/spidermanbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 10px solid skyblue;



    /* margin-top: 160px; */
    /* height: 100vh; */
    height: 100%;
    width: auto;
    background-color: rgb(0, 0, 0);
    /* padding: 100px 10%; */
    padding: 15% 10%;

    justify-content: space-between;
    align-items: center;
    display: flex;
}


.pg4 {
    /* background-color: rgb(0, 0, 0); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/netflixbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;



    border-top: 10px solid skyblue;
    /* margin-top: 160px; */
    /* height: 100vh; */
    height: 100%;
    width: auto;
    /* padding: 100px 10%; */
    padding: 15% 10%;

    justify-content: space-between;
    align-items: center;

    display: flex;
}


.pg5 {

    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/calculatorbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    /* height: 100vh; */
    height: 100%;
    width: auto;
    border-top: 10px solid skyblue;

    /* padding: 100px 10%; */
    padding: 15% 10%;


    justify-content: space-between;
    align-items: center;
    display: flex;
}



.pg7 {

    border-top: 10px solid skyblue;

    background-color: black;
    color: #b5b5b5;
    height: fit-content;


    font-family: "calibri light";
    font-size: 18px;
}





.uprfooter {
    margin-bottom: 30px;
    color: skyblue;
    font-stretch: condensed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.uprfooter ul li {
    display: inline-block;
    font-size: 30px;
}

.uprfooter ul li a i {
    margin-right: 20px;
    transition: .2s;
    color: skyblue;
}

.uprfooter ul li a i:hover {
    margin-right: 10px;
    font-size: 50px;
}

.fa-facebook:hover {
    color: #0091ff;
}

.fa-instagram:hover {

    color: white;
}

.fa-linkedin:hover {
    color: blue;
}

.fa-whatsapp:hover {
    color: #00ff91;
}

.fa-pinterest:hover {
    color: red;
}




footer {
    text-align: left;

    padding: 10vh 0;
    width: 80%;
    margin: 0 auto;

}







.btn {
    transition: .5s;
    float: right;
    text-decoration: none;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border-radius: 100px;
    border: 1px solid skyblue;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}

.btn:hover {
    background-color: skyblue;
}

.footercontainer {
    background-color: rgb(32, 32, 32);
    height: fit-content;

    padding: 2%;
    margin: 2% auto;
}

.footercontainer form {
    color: skyblue;
    display: grid;
    margin: 20px;
    font-size: 20px;

    grid-template-columns: auto auto auto;
    column-gap: 20px;
    row-gap: 20px;
}





.footercontainer input {

    font-size: 15px;
    color: skyblue;

    background: transparent;
    border: 1px solid skyblue;
    outline: none;
    padding: 10px 10px;
    padding: 10px 10px;
    /* margin: 10px; */

}

.error {
    color: red;
    font-size: 15px;
}


.textarea {
    grid-column: 1/3 span;
    font-size: 15px;
    padding: 10px 10px;
    color: skyblue;

    background: transparent;
    background: transparent;
    border: 1px solid skyblue;
    outline: none;
}

#button {
    grid-column: 2/1 span;
    font-size: 20px;
    color: white;
    transition: .5s;
}


input[type=number] {

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
}

.animate.left {
    animation-name: leftslide;
    animation-duration: 2s;

}
.animate.right {
    animation-name: rightslide;
    animation-duration: 2s;

}
.animate.top {
    animation-name: topslide;
    animation-duration: 2s;

}

@keyframes leftslide {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 100%;
        
        transform: translateX(0);


    }
}
@keyframes rightslide {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 100%;
        
        transform: translateX(0);


    }
}
@keyframes topslide {
    from {
        opacity: 0;
        transform: translatey(50px);
    }

    to {
        opacity: 100%;
        
        transform: translatey(0);


    }
}












































@media only screen and (min-width:0) and (max-width:800px) {
    .navbar {
        display: block;
        text-align: center;
    }

    #logo {
        text-align: center;
        width: 100%;
    }

    .pg2 {
        display: block;
        text-align: center;
        padding: 10% 10%;
    }

    a img {
        width: 100%;
        margin: 10% 0;

    }

    .contant {
        width: 100%;
        margin: 10px 0;
    }

    .contant p {
        margin-top: 10%;
    }

    .pg3 {
        display: block;
        text-align: center;
        padding: 10% 10%;
    }

    .pg4 {
        display: block;
        text-align: center;
        padding: 10% 10%;
    }

    .pg5 {
        display: block;
        text-align: center;
        padding: 10% 10%;
    }

    .pg2 {
        display: block;
        text-align: center;
        padding: 10% 10%;
    }

    .uprfooter {
        display: block;
        text-align: center;
    }

    .uprfooter ul li {
        margin: 10% 0;
    }

    .footercontainer form {
        display: block;
        text-align: center;
        margin: 10% auto;

    }

    .footercontainer form label {
        display: none;

    }

    .footercontainer form input {
        margin: 3% auto;
        width: 80%;
        display: block;
        text-align: center;
    }
}